* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color:white;
}

img{
    width:100%;
}

button {
    border-radius: 2vh / 50%;
    padding: 5px 15px;
    border:1px solid rgb(74, 74, 74);
    box-shadow: 2px 4px 6px 3px rgb(10, 17, 19);
}

button:hover{
    cursor:pointer;
    opacity: 0.8;
}