.mainContainer{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}

.leftContainer{
    background-image: url('../public/matrixchicken.webp');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    grid-column: 1/4;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leftContainer img{
    transform:rotate(180deg);
}

.rightContainer{
    grid-column: 4/7;
    height: 100vh;
    background-color: black;
}

.registerContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
}

.registerSection{
    display: flex;
    flex-direction: column;
}

.registerContainer img{
    transform:rotate(180deg);
    height: 5vh;
    width: 7vh;
}

.registerSection input{
    margin-top: 2vh;
}

.registerSection button{
    margin-top: 2vh;
    color: black;
}